body {
    font-family: monospace;
    background-color: #202030;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #B0A990;
    border-radius: 8px;
    box-shadow: 0 4px 8px #7D7461;
}


h1 {
    text-align: center;
    color: #39304A;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #39304A;
    border-radius: 5px;
    font-size: 16px;
}

p {
   text-align: center; 
   color: #B0A990;
   font-size: 20px;
}

.check-boxes {
    margin-top: 15px;
    text-align: center;
}

.check-boxes label {
    font-size: 20px;
    color: #B0A990;
    margin: 0 15px;
    gap: 5px;
}

button {
    display: block;
    padding: 12px 20px;
    margin: 20px auto;
    background-color: #B0A990;
    color: #39304A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7D7461;
}