body {
    font-family: monospace;
    background-color: #FAE3C6;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #A13D63;
    border-radius: 8px;
    box-shadow: 0 4px 8px #A13D63;
}


h1 {
    text-align: center;
    color: #6DD3CE;
}

h2 {
    font-size: 30px;
    text-align: center;
    color:  #6DD3CE;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #6DD3CE;
    margin-top: 10px;
    font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #6DD3CE;
    border-radius: 5px;
    font-size: 16px;
}

p {
   text-align: center; 
   color: #6DD3CE;
   font-size: 26px;
}

.check-boxes {
    margin-top: 15px;
    text-align: center;
}

.check-boxes label {
    font-size: 20px;
    color: #6DD3CE;
    margin: 0 15px;
    gap: 5px;
}

button {
    display: block;
    padding: 12px 20px;
    margin: 20px auto;
    background-color: #6DD3CE;
    color: #A13D63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #FAE3C6;
}
